<article class="post-card">
    <div class="post">
        <a href="/post/{{id}}" class="post-title">{{title}}</a><br>
        <span class="user-id"> by {{user.name}} on {{format_date_day_of_week date}}</span> 
    </div>
    <div class="post-body">
        <p>{{body}}</p>
    </div>
    <div class="post-details">
        <a href="/post/{{id}}"> {{comments.length}} {{format_plural "comment" comments.length}}</a>   |   <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
    </div>
</article>