<div class="allPosts">
    {{#each posts}}
        <section class="post-section">
            <div class="section-title">
                <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
            </div>
            <div class="section-body">
                <p>{{post.body}}</p>
            </div>      
            <div class="post-data">
                <p>By {{user_id}} on {{format_date date}}</p>
            </div>    
        </section>
    {{/each}}
</div>